<!-- searched notes page  -->

<!DOCTYPE html>
<html>
<head><title>Search</title></head>
<body>

<h1>Search Results for "{{ query }}"</h1>

<!-- flash messages after errors from app.py -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul style="color:red;">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<ul>
{% for note in results %}
    <li>
        <a href="/note/{{ note.id }}">{{ note.title }}</a>
        | <a href="/edit_note/{{ note.id }}">Edit</a>
        | <form action="/delete_note/{{ note.id }}" method="POST" style="display:inline;">
            <button type="submit">Delete</button>
          </form>
    </li>
{% endfor %}
</ul>

<a href="/notes">Back</a>

</body>
</html>
